h1{
    text-align: center;
}

i{
    font-size: 8rem;
}

a{
    text-decoration: none;
    color: black;
}

.card{
    text-align: center;
    max-width: fit-content;
    margin: auto;
    padding: 1rem;
    border: none;
}

.convert-wrap{
    text-align: center;
}